<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet Details</title>
</head>
<body>
    <h1>Wallet Details</h1>
    <h3><b>Wallet ID: <%= wallet.WalletId %> </b></h3>
    <h3><b>Profile ID: <%= wallet.profileId %> </b></h3>
    <h3><b>Current Balance: <%= wallet.currentBalance %> </b></h3>
    <h3><b>Status: <%= wallet.status %></b></h3>
    <h3><b>Currency: <%= wallet.currency %></b></h3>
    <h3><b>Country Code:  <%= wallet.countryCode %></b></h3>

</body>
</html>